body{
    margin: 0;
    padding: 0;
    background: #242424;
    color: #FFFFFF;
    font-family: 'Playfair Display';
}
header{
    background-image: url(photo/phone\ 1.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    justify-items: center;
    align-items: center;
    font-size: 30px;
}
.sidelink1{
    justify-self: start;
}
.sidelink2{
    text-align: end;
}
a {
    color: white;
}
a:hover{
    text-decoration: none !important;
    color: white;
}
.logo{
    background-image: url(photo/Logo.png);
    height: 220px;
    width: 227px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
}
#aboutMe{
    background-image: url(photo/phone\ 2.png);
    background: #1D1C1C;
    padding: 50px 80px 50px 80px;
    font-family: 'Montserrat';
}
@media(max-width: 900px){
    .header{
        font-size: 25px;
    }
     .logo{
         height: 180px;
         width: 184px;
     }
 }
@media(max-width: 640px){
   .header{
       font-size: 15px;
    }
    .logo{
        height: 130px;
        width: 134px;
    }
    .sidelink2{
        text-align: center;
    }
    .sidelink1{
        text-align: center;
    }
}
@media(max-width: 576px){
    .title{
        order: -1;
        padding-bottom: 30px;
    }
}

/* container About Me */

#about, #aboutText1, #aboutText2{
    align-self: center;
    text-align: center;
    font-size: 15px;
}
 #aboutText1{
    text-align: left;
}
.face{
    height: 230px;
    width: 230px;
}
.skills{
    height: 50px;
    width: 50px;
    padding: 5px;
    transition: 0.5s;
}
.skills:hover{
    transform: scale(1.05);
    padding: 0px;
}
.skillsAi:hover{
    background-color:  #fba115;
}
.skillsPs:hover{
    background-color:  #75afee;
}
.skillsId:hover{
    background-color:  #dd3897;
}
.skillsF:hover{
    background-color:  #55a630;
}

@media(max-width: 1000px){
    #about, #aboutText1, #aboutText2{
        font-size: 12px;
    }
    .face{
        height: 180px;
        width: 180px;
    }
    .skills{
        height: 40px;
        width: 40px;
    }
 }
 @media(max-width: 768px){
    #about, #aboutText1, #aboutText2{
        font-size: 10px;
        }
    .face{
        height: 100px;
        width: 100px;
        }
    .skills{
        height: 35px;
        width: 35px;
        }
    br{
        display: none;
        }
    #aboutText2{
        padding-top: 10px;
        }
     }
     @media(max-width: 576px){
         #about{
             order: -1;
             padding-bottom: 10px;
         }
        br{
            display: table;
        }
     }
/* PhotoGaleri 1 */

#portfolio1{
    background-image: url(photo/phone\ 3.png);
    padding-top: 30px;
    padding-bottom: 30px;
}
.photoGalery{
    height: 200px;
    width: 260px;
    margin: 5px;
    cursor: pointer;
    transition: 0.8s;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.divPhotoGalery{
    text-align: center;
}  

.add-image-color {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.photoGalery:hover{
    transform: scale(1.05);
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}
@media(max-width: 991px){
    .photoGalery{
        height: 160px;
        width: 220px;
    }
}
@media(max-width: 564px){
    .photoGalery{
        height: 130px;
        width: 190px;        
    }       
}
@media(max-width: 480px){
    .photoGalery{
        height: 170px;
        width: 220px;        
    }
    .divPhotoGalery{
        text-align: center;
    }    
}
/* PhotoGaleri 2 */

#portfolio2{
    background-image: url(photo/phone\ 4.png);
    background: #E5E5E5;
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
    font-size: 15px;
    font-family: 'Montserrat';
}
.card-transparent {
    background-color: unset !important;
}
.photoGalery2{
    width: 200px;
    position: relative;
    display: flex;
    align-self: center;
    margin-bottom: 30px;
}
.card-header{
    height: 70px;
    padding-top: 18px;
}
h6{
    font-weight: bold;
}
.cardPortfolio2{
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
}

@media(max-width: 576px){
    .card-header{
        height: 50px;
    }
    h6>br{
        display: none;
    }
}
@media(max-width: 480px){
    .card-title{
        margin-bottom: 0px;
        font-size: 15px;
    }
}

.textAfter{
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    color: #000000c7;
    transition: 0.5s;
}
.textAfter:hover{
    transform: scale(1.20);
    font-weight: bold;
}

@media(max-width: 768px){
    .textAfter{
        font-size: 10px;
        margin-top: 25px;
    }
    .textAfter>p{
        margin-bottom: 5px;
    }
    #portfolio2{
        padding-bottom: 20px;
    }
}
@media(max-width: 480px){
    .textAfter{
        font-size: 8px;
    } 
}

footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foterText{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



